body {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: inherit;
    transition-duration: 0.2s;
}

.link:hover {
    color: #b038ce;
}

.container {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    flex-basis: 37%;
}

.method {
    flex-basis: 60%;
}

.notes {
    flex-basis: 37%;
}

.img {
    flex-basis: 60%;
}

.pic {
    margin-top: 10px;
    border-radius: 15px;
    max-width: 100%;
    height:auto;
}

.border {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    padding-top: 0px;
}

button {
    border-radius: 10px;
    padding: 8px 15px;
}

button:hover {
    cursor: pointer;
}

.homeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.2s;
    border: 1px solid #FFFFFF;
    background-color: inherit;
    color: #FFFFFF;
}

.homeBtn:hover {
    background-color: #FFFFFF;
    color: #000000;
}